zeyd-muhasebe/n8n_workflow.json
{
  "name": "🇦🇿 Zeyd Maaş və Məzuniyyət Otomasyonu",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        },
        "timezone": "Asia/Baku"
      },
      "id": "schedule-trigger",
      "name": "Ay Sonu Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "filePath": "/root/.openclaw/workspace/zeyd-muhasebe/data/ornek_isciler.xlsx"
      },
      "id": "read-binary",
      "name": "Excel Oku",
      "type": "n8n-nodes-base.readBinaryFiles",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "command": "cd /root/.openclaw/workspace/zeyd-muhasebe && python3 src/payroll_calculator.py data/ornek_isciler.xlsx",
        "executeTimeout": 60
      },
      "id": "exec-python",
      "name": "Python Maaş Hesaplama",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [650, 200]
    },
    {
      "parameters": {
        "jsCode": "// Məaaş, Məzuniyyət və Kompensasiya hesablamaları\nconst fs = require('fs');\nconst { execSync } = require('child_process');\n\n// Python script çalışdır\nconst output = execSync(\n  'cd /root/.openclaw/workspace/zeyd-muhasebe && python3 -c \"\\nimport sys\\nsys.path.insert(0, \"src\")\\nfrom payroll_calculator import *\\nimport json\\nsystem = PayrollSystem(\\\"data/ornek_isciler.xlsx\\\")\\nsystem.load_data()\\npayroll = system.process_payroll()\\nvacations = system.calculate_all_vacations()\\ncompensations = system.calculate_all_compensations()\\nresult = {\\\"payroll\\\" : payroll, \\\"vacations\\\": vacations, \\\"compensations\\\": compensations}\\nprint(json.dumps(result, ensure_ascii=False, indent=2))\\n\"',\n  { encoding: 'utf-8', timeout: 30000 }\n);\n\nconst result = JSON.parse(output);\n\n// Excellə yazılacaq məlumat\nconst allData = {\n  hesabat_tarixi: new Date().toISOString().split('T')[0],\n  ay: new Date().toLocaleString('az-AZ', { month: 'long', year: 'numeric' }),\n  isciler_sayisi: result.payroll.length,\n  maas_hesablamasi: result.payroll,\n  mezuniyet_hesablamasi: result.vacations,\n  kompensasiya_hesablamasi: result.compensations,\n  toplam_odenek: result.payroll.reduce((sum, p) => sum + p.gross_salary, 0),\n  toplamvergi: result.payroll.reduce((sum, p) => sum + p.deductions.total, 0)\n};\n\nreturn [{\n  json: allData\n}];"
      },
      "id": "code-hesapla",
      "name": "Hesaplamaları Birleştir",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 200]
    },
    {
      "parameters": {
        "options": {},
        "fileName": "=/root/.openclaw/workspace/zeyd-muhasebe/output/maas_hesabati_{{DateTime.now().format('yyyyMMdd')}}.xlsx"
      },
      "id": "write-file",
      "name": "Excel Rapor Yaz",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "sendTo": "zeyd@example.com",
        "subject": "🇦🇿 Aylıq Maaş Hesabatı - {{DateTime.now().format('MMMM yyyy')}}",
        "text": "=Salam!\\n\\nAzerbaycan muhasebe otomasyonu ile hesablanmis ayliq maas raporudur.\\n\\nHesabat Etrafi: {{DateTime.now().format('d MMMM yyyy')}}\\nIsci sayi: {{ $('Hesaplamaları Birleştir').item.json.isciler_sayisi }}\\nToplam odenek: {{ $('Hesaplamaları Birleştir').item.json.toplam_odenek }} AZN\\nToplam kesinti: {{ $('Hesaplamaları Birleştir').item.json.toplamvergi }} AZN\\n\\nHesabat dosyasisi ekte.\\n\\nNova - Zeyd Asistani",
        "options": {
          "attachments": [
            "={{ $('Excel Rapor Yaz').item.binary.data.fileName }}"
          ]
        }
      },
      "id": "send-email",
      "name": "Mail Gönder",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "chatId": "",
        "text": "=✅ <b>Maaş Hesabatı Tamamlandı</b>\\n\\n📅 Tarix: {{DateTime.now().format('d MMMM yyyy')}}\\n👥 İşçi sayı: {{ $('Hesaplamaları Birleştir').item.json.isciler_sayisi }}\\n💰 Toplam: {{ $('Hesaplamaları Birleştir').item.json.toplam_odenek }} AZN\\n📉 Vergi: {{ $('Hesaplamaları Birleştir').item.json.toplamvergi }} AZN\\n\\nRapor kaydedildi: maas_hesabati_{{DateTime.now().format('yyyyMMdd')}}.xlsx",
        "additionalFields": {},
        "parse_mode": "HTML"
      },
      "id": "telegram-send",
      "name": "Telegram Bildiriş",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1450, 200]
    }
  ],
  "connections": {
    "Ay Sonu Trigger": {
      "main": [
        [
          {
            "node": "Excel Oku",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excel Oku": {
      "main": [
        [
          {
            "node": "Hesaplamaları Birleştir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hesaplamaları Birleştir": {
      "main": [
        [
          {
            "node": "Excel Rapor Yaz",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excel Rapor Yaz": {
      "main": [
        [
          {
            "node": "Mail Gönder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mail Gönder": {
      "main": [
        [
          {
            "node": "Telegram Bildiriş",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": ["muhasebe", "maas", "azerbaycan", "zeyd"]
}